.draft {
  height: 700px;
  overflow-y: auto;
}

.red {
  font-weight: bold;
  background-color: #ff5c5c;
}

.blue {
  font-weight: bold;
  background-color: #3e7bfa;
}

.active {
  border: 3px solid #ef9a1e;
  border-radius: 5px;
}

.clickable {
  cursor: pointer;
}

.picked {
  cursor: default;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
