@media (max-width: 768px) {
  .main-container {
    max-width: 758px;
  }
}

@media (max-width: 576px) {
  .main-container {
    max-width: 566px;
  }
}

.draft {
  height: 450px;
  overflow-y: auto;
}

.red,
.blue,
.red-text,
.blue-text {
  font-weight: 900;
}

.red {
  text-align: right;
  color: #fff;
  background-color: #ff5c5c;
}
.red-text {
  color: #ff5c5c;
  margin-left: 10px;
}

.blue {
  color: #fff;
  background-color: #3e7bfa;
}
.blue-text {
  color: #3e7bfa;
  margin-right: 10px;
}

.active {
  border: 3px solid #fff;
  border-radius: 5px;
  filter: sepia();
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    border-color: #7d6800;
  }
  25% {
    border-color: #ffd500;
  }
  50% {
    border-color: #7d6800;
  }
  75% {
    border-color: #ffd500;
  }
  100% {
    border-color: #7d6800;
  }
}

.clickable {
  cursor: pointer;
  height: 65px;
}

.picked {
  cursor: default;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (max-width: 992px) {
  .clickable {
    height: 55px;
  }
}

@media (max-width: 768px) {
  .clickable {
    height: 40px;
  }
}

.app-container {
  position: relative;
}

.btn-reset {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
