.draft {
    height: 700px;
    overflow-y: auto;
}

.selected {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.red {
    font-weight: bold;
    background-color: #FF5C5C;
}

.blue {
    font-weight: bold;
    background-color: #3E7BFA;
}